<!-- Navigation -->
    <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
        <div class="container">
            <div class="navbar-header page-scroll">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a id="logo_bona" class="navbar-brand page-scroll" href="/home/index"><img src="/assets/bona_logo.png" style="height:130%"></a>
            </div>

            <!-- Collect the nav links, forms, and other content for toggling -->
            <div class="collapse navbar-collapse navbar-ex1-collapse">
                <ul class="nav navbar-nav">
                    <!-- Hidden li included to remove active class from about link when scrolled up past about section -->
                    <li class="hidden">
                        <a class="page-scroll" href="/">Top</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#about">Exercise</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#services">My record</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="#contact">Campaign</a>
                    </li>
                </ul>

            </div>
        
            <!-- /.navbar-collapse -->
        </div>
        <!-- /.container -->
    </nav>

<header>
adsf
</header>


    <!-- About Section -->
    <section id="about" class="about-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <div class="jumbotron">
                        <!--<div class="row">-->
                        <h1><img src="/assets/bona_logo.png" style="width:20%; vertical-align:top"> Campaign</h1>
                        <!--</div>-->
                        <p class="lead">오늘 한 운동을 기록해 주세요</p>
                    
                        <form action="/home/write_action" method="POST">
                            <input type="hidden" name="username" value="강형민">
                            <div class="btn-group" data-toggle="buttons">
                              <label class="btn btn-lg btn-danger">
                                <input type="radio" name="kind" value="푸시업" id="option1" autocomplete="off"> 푸시업
                              </label>
                              <label class="btn btn-lg btn-warning">
                                <input type="radio" name="kind" value="플랭크" id="option2" autocomplete="off"> 플랭크
                              </label>
                              <label class="btn btn-lg btn-primary">
                                <input type="radio" name="kind" value="스쿼트" id="option3" autocomplete="off"> 스쿼트
                              </label>
                            </div>
                        
    
                        <div class="form-group">
                            <br>
                            <div class="row">
                                <div class="col-lg-4">
                                </div>
                                <div class="col-lg-4">
                                    <input style="text-align:center" type="number" name="number" class="form-control" id="exampleInputEmail1" placeholder="횟수를 입력하세요">
                                </div>
                                <div class="col-lg-4">
                                </div>
                            </div>
                        </div>
                        <button type="submit" class="btn btn-lg btn-success">확인</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <!-- Services Section -->
    <section id="services" class="services-section">
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <h1>My record</h1>
                    
                    <!--<% @exercises.each do |e| %>-->
                    <!--    <a href="/home/delete/<%=e.id%>" title="<%= e.updated_at %>">-->
                    <!--    <% if e.kind == "푸시업" %>-->
                    <!--        <button class="btn btn-danger" type="button">-->
                    <!--        <%= e.kind %> <span class="badge"><%= e.number %></span>-->
                    <!--        </button> -->
                    <!--    <% elsif e.kind == "플랭크" %>-->
                    <!--        <button class="btn btn-warning" type="button">-->
                    <!--        <%= e.kind %> <span class="badge"><%= e.number %></span>-->
                    <!--        </button> -->
                    <!--    <% else %>-->
                    <!--        <button class="btn btn-primary" type="button">-->
                    <!--        <%= e.kind %> <span class="badge"><%= e.number %></span>-->
                    <!--        </button> -->
                    <!--    <% end %>-->
                    <!--    </a>-->
                    <!--<% end %>-->
                    
                                          
                <div class="panel panel-default">
                <!-- Default panel contents -->
                <div class="panel-heading">My record</div>
                
                  <!-- Table -->
                  <table class="table">
                    <tr >
                      <th>이름</th>
                      <th>월</th>
                      <th>화</th>
                      <th>수</th>
                      <th>목</th>
                      <th>금</th>
                      <th>토</th>
                      <th>일</th>
                    </tr>
                    <tr>
                      <td>강형민</td>
            
                        <% @exercises.each do |e| %>
                            <td>
                                <a href="/home/delete/<%=e.id%>" title="<%= e.updated_at %>">
                                <% if e.kind == "푸시업" %>
                                    <button class="btn btn-danger" type="button">
                                    <%= e.kind %> <span class="badge"><%= e.number %></span>
                                    </button> 
                                <% elsif e.kind == "플랭크" %>
                                    <button class="btn btn-warning" type="button">
                                    <%= e.kind %> <span class="badge"><%= e.number %></span>
                                    </button> 
                                <% else %>
                                    <button class="btn btn-primary" type="button">
                                    <%= e.kind %> <span class="badge"><%= e.number %></span>
                                    </button> 
                                <% end %>
                                </a>
                            </td>
                        <% end %>
                
                
                    </tr>
                  </table>
                </div>
                </div>

                    
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Section -->
    <section id="contact" class="contact-section">
        <!--<div class="row">-->
        <!--    <div class=".col-xs-12 .col-md-8">-->
                <!--<img src="/assets/campain/campain1.jpg" style="width:100%">-->
        <!--        <img src="/assets/campain/campain2.png" style="width:60%">-->
        <!--        <img src="/assets/campain/campain3.jpg" style="width:60%">-->
        <!--        <img src="/assets/campain/campain4.jpg" style="width:60%">-->
        <!--        <img src="/assets/campain/campain5.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain6.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain7.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain8.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain9.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain10.png" style="width:60%">-->
                <!--<img src="/assets/campain/campain11.jpg" style="width:60%">-->

        <!--    </div>-->
        <!--</div>-->
        
        <div class="container">
        
            <div class="row">
                <div class="col-lg-12">
                    <h1>Contact Section</h1>
                    
                    
                </div>
            </div>
        </div>
    </section>

